@model IEnumerable<string>

<h1>MarkPad Server</h1>
<h3>Pages</h3>
<ul>
    @foreach(var page in Model)
    {
        <li>
            @Html.ActionLink(page, "ViewPage", "Pages", new {name = page}, null)
        </li>
    }
</ul>